.cont {
    display: flex;    
    justify-content: space-around;
    font-family: 'Quicksand', sans-serif;
}

.bot-ordenar {
    display: flex;
    justify-content: space-evenly;
}

.bot-ord {
    background-color: #374b64;
    border: none;
    color: white;
    padding: 8px 16px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.bot-ord:hover {
    background-color: white;
    color: #374b64;
    cursor: pointer;
    font-weight: bold;
}

.bot-envia {
    background-color: rgb(37, 168, 72);
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.bot-envia:hover {
    background-color: white;  
    color: rgb(37, 168, 72);
    cursor: pointer;
}

.senPre {
    color: red;
}